body ,li,a,span{
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}


li[ui-sref]:hover {
  display: inline;
  cursor: pointer;
  
  
}

h1{
    font-size: 2.8em;
    font-style: italic;
    color: chocolate;
}